.blinlit-nav,
.blinkit-logo-delivery,
.blinlit-nav-search,
.blinkit-login-cart,
.blinlit-nav-delivery,
.blinlit-nav-logo {
    display: flex;
    justify-content: space-between;
}
.blinkit-logo-delivery,
.blinlit-nav-search,
.blinkit-login-cart,
.blinlit-nav-logo ,.blinlit-nav-delivery{
    align-items: center;
}

.blinlit-nav {
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 1000;
    color: #666;
    font-size: 12px;
    font-family: "Okra", Helvetica;
    line-height: 1.15;
    background-color: white;
    height: 86px;
    position: relative;
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid rgb(238, 238, 238);
    flex-wrap: nowrap;
}
.blinlit-nav-logo {
    height: 86px;
    width: 178px;
    justify-content: center;
}
.blinlit-nav-logo-main {
    width: 115px;
    height: 32px;
}

.blinkit-logo-delivery-devidor{
    width: 1px;
    display: flex;
    background-color: rgb(242, 242, 242);
    height: 100%;
}

.blinlit-nav-delivery{
    width: 320px;
    height: 86px;
    justify-content: center;
}

.blinlit-nav-delivery-main {
    color: rgb(0, 0, 0);
    font-weight: 800;
    margin-bottom: 6px;
    font-size: 18px;
}

.blinlit-nav-delivery-location {
    font-size: 13px;
    color: rgb(0, 0, 0);
    font-weight: 400;
    clear: both;
    /* display: inline-block; */
    overflow: hidden;
    white-space: nowrap;
    width: auto;
    max-width: 210px;
    text-overflow: ellipsis;
    display: inline-flex;
}

.blinlit-nav-delivery-arrow-main, .blinlit-nav-delivery-arrow{
   
    width: 15px;
    height: 10px;
   margin-left: 1px;
}