.blinlit-nav,
.blinkit-logo-delivery,
.blinlit-nav-search,
.blinkit-login-cart,
.blinlit-nav-delivery,
.blinlit-nav-logo {
    display: flex;
    justify-content: space-between;
}
.blinkit-logo-delivery,
.blinlit-nav-search,
.blinkit-login-cart,
.blinlit-nav-logo ,.blinlit-nav-delivery{
    align-items: center;
}

.blinlit-nav {
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 1000;
    color: #666;
    font-size: 12px;
    font-family: "Okra", Helvetica;
    line-height: 1.15;
    background-color: white;
    height: 86px;
    position: relative;
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid rgb(238, 238, 238);
    flex-wrap: nowrap;
}
.blinlit-nav-logo {
    height: 86px;
    width: 178px;
    justify-content: center;
}
.blinlit-nav-logo-main {
    width: 115px;
    height: 32px;
}

.blinkit-logo-delivery-devidor{
    width: 1px;
    display: flex;
    background-color: rgb(242, 242, 242);
    height: 100%;
}

.blinlit-nav-delivery{
    width: 320px;
    height: 86px;
    justify-content: center;
}

.blinlit-nav-delivery-main {
    color: rgb(0, 0, 0);
    font-weight: 800;
    margin-bottom: 6px;
    font-size: 18px;
}

.blinlit-nav-delivery-location {
    font-size: 13px;
    color: rgb(0, 0, 0);
    font-weight: 400;
    clear: both;
    /* display: inline-block; */
    overflow: hidden;
    white-space: nowrap;
    width: auto;
    max-width: 210px;
    text-overflow: ellipsis;
    display: inline-flex;
}

.blinlit-nav-delivery-arrow-main, .blinlit-nav-delivery-arrow{
   
    width: 15px;
    height: 10px;
   margin-left: 1px;
}

.blinlit-nav-search{
   
    width: 320px;
    /* height: 86px; */
    justify-content: start;
    -webkit-box-align: center;
    align-items: start;
    /* flex: 1 1 0%; */
    position: relative;
    background-color: inherit;
    color: #666;
    font-size: 12px;
    font-family: 'Okra', Helvetica;
    flex: 1 1 0%;
    padding: 20px 24px 20px 0px;
    cursor: text;
    margin: auto;
   
    padding: 12px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 8px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(221, 221, 221);
    border-radius: 8px;
    background-color: #F8F8F8;
    /* box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 8px; */
   
   
} 

.blinlit-nav-search-icon-main{
    width: 20px;
}

.blinlit-nav-search-bar-main{
    width: 500px;
    height: 25px;
    flex: 1 1 0%;
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    background-color: #F8F8F8;
    color: rgb(0, 0, 0)
}

.blinkit-login-cart{
    display: flex;
    width: 345px;
    -webkit-box-pack: center;
    justify-content: center;
    top: 0px;
    right: 0px;
    padding: 0px;
    gap: 5px;
    color: #666;
    font-size: 12px;
    font-family: 'Okra', Helvetica;
}

.blinlit-nav-button-login{
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 86px;
    
    display: flex;
    cursor: pointer;
    transition: background-color 0.5s ease 0s;
}